body{
    background-color:darkorchid;
    font-family: 'Macondo', cursive;
}

h1{
    color: black;
    font-size: 24px;
}

h6{
    color: red;
}

a:link{
    color: blue;
}

a:visited {
    color: pink;
  }

  #headerTest{
      background-color: lavender;
      height: 100px;
        width: 300px;
        padding: 20px;
        border-style: solid;
        border-width: 5px;
        border-color: gray;
        position: absolute; top: 50px; left: 650px;
    }

  #test{
      background-color: cornsilk;
      height: 700px;
        width: 950px;
  }