body {
    background: rgb(228, 250, 234);
    font: 18px Arial, sans-serif;
    color: black;
    margin: 50px;
}

h1 {
    color: DarkGreen;
    font-size: 35px;
}

html, div, ul, li {
    margin: 0px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: Arial, sans-serif;
  
}

.nav {
    background-color: black;
    list-style-type: none;
    text-align: left;
    margin: 0px;
    padding: 0px;

}

.nav li {

    display: inline-block;
    font-size: 20px;
    padding: 10px;
    color:white;
    height: 40px;
    line-height: 40px;
    padding-right: 30px;
}

        
.nav-link {
    color: #fff;
    text-decoration: none;
}

        